header {
    display: grid;
    grid-template-columns: 160px 1fr 1fr;
    gap: 1rem;
    padding: 40px;
    align-items: center;
}

nav {
    @apply flex items-center justify-start space-x-4;
}

nav ul li {
    @apply text-slate-500 dark:text-white font-sans font-bold;
}

.logo {
    @apply w-12 aspect-square bg-gray-500 dark:bg-gray-50 rounded-lg;
}
